/public/hot
/public/storage
/public/js/*.js
/public/fonts/vendor/@fortawesome/fontawesome-free
/public/css/app.css
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
