/public/hot
/public/storage
#/public/js/app.js
#/public/css/app.css
/storage/*.key
#/public/js/app.js
#/public/css/app.css
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
